<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
  <table class="table table-striped">
    <tr>
      <th>글번호</th>
      <td th:text="${board.id}"></td>
    </tr>
    <tr>
      <th>제목</th>
      <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
      <th>작성자</th>
      <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
      <th>내용</th>
      <td th:text="${board.boardContents}"></td>
    </tr>

  </table>
  <a href="/board/">리스트로</a>
</div>
</body>
</html>